# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ahgz资料\mangae_system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
